@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animación personalizada para la Pokeball */
@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}